body {
    background: black;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg, rgb(39,13,255) 0%,rgb(255,13,165) 100%);
}

@media (min-width: 1440px) {
    h1 { font-size: 5.653em; }

    h2 { font-size: 3.998em; }

    h3 { font-size: 2.827em; }

    h4 { font-size: 1.999em; }

    h5 { font-size: 1.414em; }

    h6 { font-size: 1em; } 

}

/* ----------------- PRELOADER --------------------- */
#pre-load {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(0, 0, 20);
    z-index: 999999;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid rgb(0, 0, 20);
    border-radius: 50%;
    border-top: 16px solid #ff0da5;
    border-bottom: 16px solid #270dff;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

  /* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

/* ----------------- MAIN DESIGN --------------------- */

#home-wrapper {
    background: rgb(174,13,198);
    background: linear-gradient(45deg, rgb(39,13,255) 0%,rgb(255,13,165) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7630e9', endColorstr='#ffbf8d',GradientType=1 );
    display: none;
    text-align: center;
    color: #fff;
    height: 100%;
    overflow: hidden;
    padding: 30px;
    position: relative;
}

.wrapper {
    padding: 30px;
    overflow: hidden;
    height: 100%;
}

.main-content {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 20);
    box-shadow: 0 2px 130px 0 rgba(0, 0, 0, 0.6);
    text-align: center;
    border-radius: 8px;
}

.content-head {
    margin-top: 32px;
}

.name {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.title {
    color: rgb(255,13,165);
    font-style: italic;
}

.content {
    color: white;
    background-color: rgba(255,255,255, 0.15);
    height: 82%;
    overflow-y: scroll; 
    margin: 16px 50px 16px 50px;
    padding: 32px;
    line-height: 1;
}

.content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

.content::-webkit-scrollbar {
    width: 12px;
	background-color: rgba(255,255,255, 0.15);
}

.content::-webkit-scrollbar-thumb {
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-image: linear-gradient(45deg, rgb(39,13,255) 0%,rgb(255,13,165) 100%);
    background-color: rgb(255,13,165);
}

.home-content a {
    color: white;
}

.box-wrapper {
    width: 50%;
    height: 35%;
    float: left;
    display: block;
    align-items: center;
}

.inner-box-wrapper {
    width: 75%;
    margin: auto;
    text-align: center;
    align-items: center;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}

.inner-box-wrapper a {
    width: 100%;
    text-decoration: none;
}

.box {
    width: 100%; 
    height: 75%;
    display: flex;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 2px 130px 0 rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    margin: auto;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    margin: 16px;
}

.box:hover {
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 2px 130px 0 rgba(255, 13, 165, 0.2);
}

.box-content {
    margin: auto;
    text-align: center;
    align-content: center;
    text-transform: uppercase;
}

.box-content i {
    margin: 8px;
}

.box-content h4 {
    text-transform: uppercase;
    font-weight: 700; 
}

.close-container {
    position: absolute;
    right: 0;
    color: white;
    text-align: right;
    padding-top: 8px;
    padding-right: 8px;
}

.close-icon {
    color: #ff0da5;
    text-align: right;
    padding-top: 8px;
    padding-right: 16px;
}

.company-name {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: .85em;
}

#logo {
    height: 125px;
}

.content-title {
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1.2em;
}

.content-title:after {
    content:' ';
    display:block;
    width: 32px;
    border:2px solid #270dff;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

.sub-content-container {
    background-color: rgba(255, 255, 255, .1);
    text-align: left;
    padding: 16px;
    line-height: 1.75;
    margin-bottom: 16px;
}

.sub-content-container row {
    margin-bottom: 32px;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.sub-content-container a {
    color: white;
    text-decoration: none;
}

.sub-content-container a:hover {
    color: white;
    text-decoration: none;
    color: #270dff;
}

.sub-content-container i {
    margin: 8px;
}

.sub-content-title {
    color: #ff0da5;
    font-size: 1.314em;
    margin-bottom: 8px;
}

.row-bottom-margin { 
    margin-bottom:20px; 
}

/* ----------------- CONTACT FORM --------------------- */

#contact-form {
    margin-left: 16px;
    min-width: 75%;
}

#submit-button {
    background-color: #ff0da5;
    color: white;
    border: 1px solid white;
}

#submit-button:hover {
    background-color: #270dff;
    color: white;
    border: 1px solid white;
}

/* ----------------- RESUME --------------------- */

#resume-download {
    background-color: #270dff;
    color: white;
    border: 1px solid white;
}

#resume-download:hover {
    background-color: #ff0da5;
    color: white;
    border: 1px solid white;
}

.sub-content-container hr {
    background-color: #000000;
}

.resume-title {
    font-size: 1.3em;
    color: #ff0da5;
}

.resume-school {
    font-size: 1.2em;
    font-weight: bold;
}

.resume-location {
    font-size: 1em;
    font-style: italic;
}

.resume-date {
    font-size: 1em;
    text-transform: uppercase;
}

.skill-bar {
    padding-bottom: 8px;
}

.skill-title {
    font-size: 1.2em;
}
.progress {
    background-color: rgba(0,0,0,0.5);
}
.progress-bar {
    background-color: #7030a0;
}

/* ABOUT ME */

.about-text {
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: left;
}

.about-text a {
    color: #ff0da5;
}

.about-photo {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.about-photo:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

/* ----------------- PORTFOLIO --------------------- */

.card-img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.card-img:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.folio-img {
    width: 100%;
    margin-bottom: 16px;
}

.folio-img-sec {
    max-width: 100%;
    margin-bottom: 16px;
}

.modal-title {
    color: black;
}

.modal-content {
    color: black;
}

.modal-body {
    text-align: left;
}

.modal-body p {
    line-height: 1.6;
}

.modal-body a {
    color: #270dff;
}

.tags {
    color: rgba(0, 0, 0, .5);
}

.modal-footer button {
    color: white;
    background-color: black;
}

.modal-footer button:hover {
    color: white;
    background-color: #ff0da5;
}

/*------------------MEDIA QUERIES----------------------------*/

/* SMALL SCREENS */
@media only screen and (max-width: 550px) {
    #portfolio-content {
        column-count: 1
    }
    #home-wrapper {
        padding: 8px;
    }
    .wrapper {
        padding: 8px;
    }
    .container-fluid {
        padding-right: 4px;
        padding-left: 4px;
    }
    .content {
        margin: 4px;
        border-radius: 8px;
    }
} 

/* MEDIUM SCREENS */
@media only screen and (min-width: 768px) {
    #portfolio-content {
        column-count: 2
    }
}


/* LARGE SCREENS */
@media only screen and (min-width: 992px) {
    #portfolio-content {
        column-count: 3
    }
} 

/* EXTRA LARGE SCREENS */
@media only screen and (min-width: 1200px) {
    #portfolio-content {
        column-count: 4
    }
} 

